html,
body {
  padding: 0;
  margin: 0;
  font-family:'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#defaultCanvas0{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw !important;
  max-height: 100vh;
  overflow: hidden;
}